<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Copias</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h2>
			Copias disponibles de <span th:text="${libro.titulo}"></span>
		</h2>

		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<td>ID</td>
					<td>Estado</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="copia : ${copias}">
					<td th:text="${copia.id}"></td>
					<td th:text="${copia.estado}"></td>
					<form method="POST" action="@{/prestar/{id}(id=${copia.id})}">
					<td><input type="number" th:field="*{nSocio}"></td>
					<td th:if="${copia.estado == 'biblioteca'}"><input
						class="btn btn-primary" type="submit" th:value="Prestar"></td>
					</form>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="container">
		<h2>Lectores dados de alta</h2>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<td>Numero de socio</td>
					<td>Nombre</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lector : ${lectores}">
					<td th:text="${lector.nSocio}"></td>
					<td th:text="${lector.nombre}"></td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>