<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Copias</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h2>
			Copias disponibles de <span th:text="${libro.titulo}"></span>
		</h2>

		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<td>ID</td>
					<td>Estado</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="copia : ${copias}">
					<td th:text="${copia.id}"></td>
					<td th:text="${copia.estado}"></td>
					<td th:if="${copia.estado == 'biblioteca'}">
					<a class="btn btn-primary" th:href="@{/nuevoPrestamo/{id}(id=${copia.id})}">Prestar</a>
					</td>
					<td th:if="${copia.estado == 'prestada'}">
					<a class="btn btn-primary" th:href="@{/devolverEjemplar/{id}(id=${copia.id})}">Devolver</a>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>