<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prestamo</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
	<h2>Prestamo</h2>

	<form action="#" th:action="@{/prestar/{id}(id=${copia.id})}"
		method="POST" >
		<label>Número de socio</label> <input type="text" >
		<button type="submit" class="btn btn-info col-2">Prestar
			ejemplar</button>
	</form>



</body>
</html>