<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Prestamo</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
	<h2>Prestamo</h2>
	<h4>ID de la copia: <span th:text="${idCopia}"></span></h4>
	<div class="container">
		<h2>Lectores dados de alta</h2>
		<table class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<td>Numero de socio</td>
					<td>Nombre</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="lector : ${lectores}">
					<td th:text="${lector.nSocio}"></td>
					<td th:text="${lector.nombre}"></td>
					<td th:if="${lector.multa == null}">
					<a class="btn btn-primary" th:href="@{/prestar/{copia}/{lector}(copia = ${idCopia}, lector = ${lector.nSocio})}">Prestar</a>
					
					</td>

				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>